.DS_Store
*.sublime-project
*.sublime-workspace
.idea/

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.map
*.icloud
*.exe
/data

/pids
/results
/test-results

node_modules
npm-debug.log

dump.rdb
bundle.js

build
dist
coverage
.nyc_output
.env
.env.feedback
.env.sao1
.env.old.sao1

# these envs it's used to turn more easily run scripts
.env.prd*
.env.staging*
.env.orbstack

graphql.*.json
junit.xml

.vs

test/globalConfig.json
distTs

# Random things to ignore
ignore/
package-lock.json
/yarn-offline-cache
.cache
.webpack
globalConfig.json
globalConfig-vitest.json

# codemod configs
import.config.js
move.config.js
default.config.js
importMapper.config.js
*.codemod.config.js
subgraph.json

.yarn

## dump files
partial.json
shopper-partial.json
openpix-charge-partial.json

.vscode/

.env.matera

.jest-cache
.eslintcache

.turbo
build/**
dist/**
.next/**

*.zip
cohort-*

mock-requests.json

packages/service-api/src/openpix.json
packages/service-api/src/openpix.yml
packages/service-api/src/openpixPostman.json

packages/service-api/src/woovi.json
packages/service-api/src/woovi.yml
packages/service-api/src/wooviPostman.json

sanity-check.json

# google sheets
token.json
credentials.json
mongo-cache.json

# Relay
__generated__/

/debug
dump.json

docker/mosquitto/data
docker/mosquitto/log
mongooseModels.json

asyncapi.yml
asyncapi.json

materaCallback.js
fiduciaCallback.js
nfeioCallback.js