[Desktop Entry]
Version=1.0
Name=Custom XDG Open Handler
Exec=/root/opensource/exec-server/generate-curl.sh %u
Terminal=false
Type=Application
MimeType=x-scheme-handler/http;x-scheme-handler/https;